body {
  font-family: monospace;
}

body > header > h1 {
  text-align: center;
  font-size: 2rem;
}

body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

header > button {
  padding: 5px 20px;
}

header > button:hover {
  color: blue;
}

header > button, .book button {
  background: none;
  border: 1px outset black;
}

header > button:hover, .book button:hover {
  cursor: pointer;
}

body > div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

article h1, article h2, article p {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  min-height: 125px;
  max-height: 200px;
  padding: 0 10px;
}

.book > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book > div > :first-child {
  margin-bottom: 4px;
}

.read-toggle:hover {
  cursor: pointer;
  color: blue;
}

.book h1 {
  font-size: 1.25rem;
}

.book h2 {
  font-size: 1rem;
  font-weight: normal;
}

.book button:hover {
  color: red;
}

form {
  position: fixed;
  top: 15%;
  left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

form > * {
  margin-bottom: 5px;
}

form > h2 {
  margin-bottom: 10px;
}

form > div {
  display: flex;
  align-items: center;
}

form > div > * {
  margin-right: 5px;
}


